In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy
import numpy as np
import h5py

In [3]:
test_df = pd.read_csv("../CMaps/test_FD001.txt", sep=" ",header=None)
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN

In [4]:
column_names = ["unit_number","cycle_number","operational_setting_1","operational_setting_2","operational_setting_3"]
n_cols = len(test_df.columns)
print(f"Number of Columns: {n_cols}")


# The rest of the columns are sensor measurements, let's label the remaining by an index 
for k in range(1,len(test_df.columns)-len(column_names)+1):
    column_names.append("sensor_measurement_{}".format(k))

test_df.columns = column_names
n_engines = len(test_df["unit_number"].unique())
print(f"Number of Units: {n_engines}")

Number of Columns: 28
Number of Units: 100

In [5]:
test_df.describe()

,unit_number,cycle_number,operational_setting_1,operational_setting_2,operational_setting_3,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,...,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21,sensor_measurement_22,sensor_measurement_23
count,13096.000000,13096.000000,13096.000000,13096.000000,13096.0,1.309600e+04,13096.000000,13096.000000,13096.000000,1.309600e+04,...,13096.000000,13096.000000,1.309600e+04,13096.000000,13096.0,13096.0,13096.000000,13096.000000,0.0,0.0
mean,51.543907,76.836515,-0.000011,0.000004,100.0,5.186700e+02,642.475088,1588.099204,1404.735362,1.462000e+01,...,8138.947817,8.425844,3.000000e-02,392.571625,2388.0,100.0,38.892502,23.335743,NaN,NaN
std,28.289423,53.057749,0.002203,0.000294,0.0,6.014263e-11,0.400899,5.003274,6.688309,2.671743e-12,...,10.188605,0.029009,8.823140e-15,1.233577,0.0,0.0,0.141681,0.084120,NaN,NaN
min,1.000000,1.000000,-0.008200,-0.000600,100.0,5.186700e+02,641.130000,1569.040000,1384.390000,1.462000e+01,...,8108.500000,8.332800,3.000000e-02,389.000000,2388.0,100.0,38.310000,22.935400,NaN,NaN
25%,28.000000,33.000000,-0.001500,-0.000200,100.0,5.186700e+02,642.197500,1584.600000,1399.950000,1.462000e+01,...,8132.310000,8.405600,3.000000e-02,392.000000,2388.0,100.0,38.800000,23.281600,NaN,NaN
50%,52.000000,69.000000,-0.000000,-0.000000,100.0,5.186700e+02,642.460000,1587.990000,1404.440000,1.462000e+01,...,8138.390000,8.424900,3.000000e-02,393.000000,2388.0,100.0,38.900000,23.339200,NaN,NaN
75%,76.000000,113.000000,0.001500,0.000300,100.0,5.186700e+02,642.740000,1591.362500,1409.050000,1.462000e+01,...,8144.360000,8.444300,3.000000e-02,393.000000,2388.0,100.0,38.990000,23.393600,NaN,NaN
max,100.000000,303.000000,0.007800,0.000700,100.0,5.186700e+02,644.300000,1607.550000,1433.360000,1.462000e+01,...,8220.480000,8.541400,3.000000e-02,397.000000,2388.0,100.0,39.410000,23.641900,NaN,NaN

In [6]:
test_df.drop(["sensor_measurement_22","sensor_measurement_23"], axis=1, inplace=True)

In [7]:
test_df

,unit_number,cycle_number,operational_setting_1,operational_setting_2,operational_setting_3,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,...,sensor_measurement_12,sensor_measurement_13,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,520.69,2388.00,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,521.05,2388.09,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,521.18,2388.04,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,521.33,2388.08,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,521.07,2388.05,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855

In [8]:
# Loading the true RUL after last observed cycle
true_RUL_df = pd.read_csv("../Cmaps/RUL_FD001.txt", header=None, names=["RUL"])
true_RUL_df.columns

Index(['RUL'], dtype='object')

In [9]:
true_RUL_df = true_RUL_df.reset_index()
true_RUL_df["unit_number"] = true_RUL_df["index"].apply(lambda row: row+1)
true_RUL_df

    index  RUL  unit_number
0       0  112            1
1       1   98            2
2       2   69            3
3       3   82            4
4       4   91            5
..    ...  ...          ...
95     95  137           96
96     96   82           97
97     97   59           98
98     98  117           99
99     99   20          100

[100 rows x 3 columns]

In [10]:
# Gather the max cycles run
max_cycle_dict = test_df.groupby("unit_number")["cycle_number"].max().reset_index().set_index('unit_number')['cycle_number'].to_dict()
# Max cycles run
for k,v in max_cycle_dict.items():
    print(k,v)
    if k == 5:
        break
# max_cycle_dict

1 31
2 49
3 126
4 106
5 98

In [11]:
# Creating a key value pair that stores the true RUL for a given engine
# Gives "unit_number":"RUL"
RUL_dict = true_RUL_df.set_index('unit_number')['RUL'].to_dict()
for k,v in RUL_dict.items():
    print(k,v)
    if k == 5:
        break

1 112
2 98
3 69
4 82
5 91

In [12]:
# We want the true RUL to be 
# True_RUL + Max_cycles - current_cycle, so that if current_cycle== Max_cycle we get the true RUL for the last run
test_df["true_RUL"] = test_df[["unit_number","cycle_number"]].apply(lambda row: RUL_dict[row["unit_number"]] + max_cycle_dict[row["unit_number"]] - row["cycle_number"], axis=1)
test_df[["unit_number","cycle_number","true_RUL"]][test_df["unit_number"]==1]

    unit_number  cycle_number  true_RUL
0             1             1       142
1             1             2       141
2             1             3       140
3             1             4       139
4             1             5       138
5             1             6       137
6             1             7       136
7             1             8       135
8             1             9       134
9             1            10       133
10            1            11       132
11            1            12       131
12            1            13       130
13            1            14       129
14            1            15       128
15            1            16       127
16            1            17       126
17            1            18       125
18            1            19       124
19            1            20       123
20            1            21       122
21            1            22       121
22            1            23       120
23            1            24       119
24            1            25       118
25            1            26       117
26            1            27       116
27            1            28       115
28            1            29       114
29            1            30       113
30            1            31       112

In [13]:
# Confirming that the lasy cycle has the correct true_RUL
test_df[["unit_number","cycle_number","true_RUL"]][test_df["unit_number"]==3]

     unit_number  cycle_number  true_RUL
80             3             1       194
81             3             2       193
82             3             3       192
83             3             4       191
84             3             5       190
..           ...           ...       ...
201            3           122        73
202            3           123        72
203            3           124        71
204            3           125        70
205            3           126        69

[126 rows x 3 columns]

In [14]:
# Now lets package up the data and create a dataset to test...
# Create a dataset for Unit 1 where the window is 150 cycles long
window_size = 150
unit=1
print(unit)
sub_sample = test_df[test_df["unit_number"]==unit]

1

In [15]:
# sub_sample

In [34]:
     import warnings
     warnings.filterwarnings('ignore')

In [68]:
windows = []
# print(window_size > len(sub_sample))
windows = []
window_size = 150  # or whatever you want

for i in range(1, 8):  # or loop over all unit_numbers
    print(f"Unit: {i}")
    
    sub_sample = test_df[test_df["unit_number"] == i].copy()
    print("Original shape:", sub_sample.shape)

    # Determine how many padding rows are needed
    num_to_pad = window_size - len(sub_sample)

    if num_to_pad > 0:
        # Create a DataFrame with zero rows that match sub_sample columns
        padding_df = pd.DataFrame(
            data=np.zeros((num_to_pad, sub_sample.shape[1])),
            columns=sub_sample.columns
        )

        # Optionally fill in identifier columns, if needed:
        padding_df["unit_number"] = i
        padding_df["cycle_number"] = np.arange(-num_to_pad, 0)  # Dummy values

        # Append padded rows
        sub_sample = pd.concat([padding_df, sub_sample], ignore_index=True)
        print("Final shape:", sub_sample.T.shape)
        windows.append(sub_sample.T.to_numpy())
    
    else:
        for i in range(len(sub_sample) - window_size + 1):
            print(sub_sample.iloc[i:i+window_size].T.to_numpy().shape)
            windows.append(sub_sample.iloc[i:i+window_size].T.to_numpy())

Unit: 1
Original shape: (31, 27)
Final shape: (27, 150)
Unit: 2
Original shape: (49, 27)
Final shape: (27, 150)
Unit: 3
Original shape: (126, 27)
Final shape: (27, 150)
Unit: 4
Original shape: (106, 27)
Final shape: (27, 150)
Unit: 5
Original shape: (98, 27)
Final shape: (27, 150)
Unit: 6
Original shape: (105, 27)
Final shape: (27, 150)
Unit: 7
Original shape: (160, 27)
(27, 150)
(27, 150)
(27, 150)
(27, 150)
(27, 150)
(27, 150)
(27, 150)
(27, 150)
(27, 150)
(27, 150)
(27, 150)

In [69]:
print(len(windows))

17

In [70]:
# windows.shape()

In [71]:
def create_hdf5(unit_num, np_array):
    '''
    Creating the hdf5 dataset according to the unit number
    '''
    # Store the array into an HDF5 file
    with h5py.File(f'../data/unit_test_{unit_num}.h5', 'w') as hf:
        hf.create_dataset(f'unit_test_{unit_num}', data=np_array)
    
    # Load the array from the HDF5 file
    with h5py.File(f'../data/unit_test_{unit_num}.h5', 'r') as hf:
        loaded_array = hf[f'unit_test_{unit_num}'][:]
    
    # Verify the loaded array
    print(np.array_equal(np_array, loaded_array)) # Should print True
    print(loaded_array.shape)

In [72]:
create_hdf5(8, windows)

True
(17, 27, 150)

In [38]:
# sub_sample.iloc[25:40]

In [56]:
# windows